
@{
    ViewBag.Title = "AddTabForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item" style="padding-left:30px;">
        <input id="text" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
</div>
<script>
    var acceptClick;
var bootstrap = function ($, aycsoft) {
    "use strict";
    var tabName = top.layer_ModuleForm3.tabName;

    var page = {
        init: function () {
            page.initData();
        },
        initData: function () {
            $('#text').val(tabName);
        }
    };
    // 保存数据
    acceptClick = function (callBack) {
        if (!$('#form').lrValidform()) {
            return false;
        }
        var postData = $('#form').lrGetFormData();
        callBack && callBack(postData.text);
        aycsoft.layerClose(window.name);
    };
    pag
</script>


