
@{
    ViewBag.Title = "BottomMenuForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">名称<font face="宋体">*</font></div>
        <input id="F_Name" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">排序码<font face="宋体">*</font></div>
        <input id="F_Sort" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">链接类型</div>
        <div class="radio lr-radio" type="lr-radio" id="F_UrlType">
            <label>
                <input name="F_UrlType" type="radio" value="1" checked="checked" />
                内部链接
            </label>
            <label>
                <input name="F_UrlType" type="radio" value="2" />
                外部链接
            </label>
        </div>
    </div>
    <div class="col-xs-12 lr-form-item" style="display:none;">
        <div class="lr-form-item-title">外部链接</div>
        <input id="F_Url" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item">
        <div class="lr-form-item-title">链接页面</div>
        <div id="F_Page"></div>
    </div>
</div>
<script>
    var parentId = request('parentId');
var acceptClick;
var keyValue = "";

var bootstrap = function ($, aycsoft) {
    "use strict";
    var selectedRow = top.layer_BottomMenuIndex.selectedRow;
    var flag = "1";
    var page = {
        init: function () {
            page.bind();
            page.initData();
        },
        bind: function () {
            // 页面选择
            $('#F_Page').lrselect({
                text: 'F_Title',
                value: 'F_Id',
                url: top.$.rootUrl + '/LR_PortalSite/Page/GetList',
                allowSearch: true
            });

            $('[name="F_UrlType"]').on('click', function () {
                var v = $(this).val();
                if (v == '1') {
                    $('#F_Url').parent().hide();
                    $('#F_Page').parent().show();
                }
                else {
                    $('#F_Page').parent().hide();
                    $('#F_Url').parent().show();
                }
            });

        },
        initData: function () {
            if (selectedRow) {
                keyValue = selectedRow.F_Id || '';
                if (selectedRow.F_UrlType == '1') {
                    selectedRow.F_Page = selectedRow.F_Url;
                }

                $('#form').lrSetFormData(selectedRow);
            }
        }
    };
    // 保存数据
    acceptClick = function (callBack) {
        if (!$('#form').lrValidform()) {
            return false;
        }
        var postData = $('#form').lrGetFormData(keyValue);
        if (!keyValue && top.layer_BottomMenuIndex.alldata.length >= 7) {
            aycsoft.alert.warning("菜单最多维护7个！");
            return false;
        }

        if (postData.F_UrlType == '1') {
            postData.F_Url = postData.F_Page;
        }
        postData.F_Type = 7;
        $.lrSaveForm(top.$.rootUrl + '/LR_PortalSite/HomeConfig/SaveForm?keyValue=' + keyValue, postData, function (res) {
            callBack && callBack();
        });


    };
    page.init();
}
</script>

