
@{
    ViewBag.Title = "ChildIndex";
    Layout = "~/Views/Shared/_PageIndex.cshtml";
}

<link href="~/css/ChildIndex.css" rel="stylesheet" />
<script src="~/js/ChildIndex.js"></script>

<div class="lr-site-body-container">
</div>

