@{
    ViewBag.Title = "看板信息";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="lr-layout">
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="lr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;查询</a>
                    </div>
                </div>
                <div class="lr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" aycsoft-authorize="yes">
                        <a id="lr_add" class="btn btn-default"><i class="fa fa-plus lrlg"></i>&nbsp;新增</a>
                        <a id="lr_edit" class="btn btn-default"><i class="fa fa-pencil-square-o lrlg"></i>&nbsp;编辑</a>
                        <a id="lr_delete" class="btn btn-default"><i class="fa fa-trash-o lrlg"></i>&nbsp;删除</a>
                        <a id="lr_see" class="btn btn-default"><i class="fa fa-eye-slash lrlg"></i>&nbsp;预览</a>
                    </div>
                </div>
            </div>
            <div class="lr-layout-body" id="gridtable"></div>
        </div>
    </div>
</div>
<script>
    var selectedRow;
var refreshGirdData;
var bootstrap = function ($, aycsoft) {
    "use strict";
    var page = {
        init: function () {
            page.initGird();
            page.bind();
        },
        bind: function () {
            // 查询
            $('#btn_Search').on('click', function () {
                var keyword = $('#txt_Keyword').val();
                page.search({ keyword: keyword });
            });
            // 刷新
            $('#lr_refresh').on('click', function () {
                location.reload();
            });
            // 新增
            $('#lr_add').on('click', function () {
                selectedRow = null;
                aycsoft.layerForm({
                    id: 'form',
                    title: '新增看板',
                    url: top.$.rootUrl + '/LR_DisplayBoard/LR_KBKanBanInfo/Form',
                    width: 1180,
                    height: 792,
                    btn: null
                });
            });
            // 编辑
            $('#lr_edit').on('click', function () {
                var keyValue = $('#gridtable').jfGridValue('F_Id');
                if (aycsoft.checkrow(keyValue)) {
                    aycsoft.layerForm({
                        id: 'form',
                        title: '编辑',
                        url: top.$.rootUrl + '/LR_DisplayBoard/LR_KBKanBanInfo/Form?keyValue=' + keyValue,
                        width: 1180,
                        height: 800,
                        btn: null
                    });
                }
            });
            $('#lr_see').on('click', function () {
                var formId = $('#gridtable').jfGridValue('F_Id');
                if (!!formId) {
                    aycsoft.layerForm({
                        id: 'custmerForm_PreviewForm',
                        title: '预览当前看板',
                        url: top.$.rootUrl + '/LR_DisplayBoard/LR_KBKanBanInfo/PreviewForm?keyValue=' + formId,
                        width: 1000,
                        height: 800,
                        maxmin: true,
                        btn: null
                    });
                }
                else {
                    aycsoft.alert.warning('请选择看板！');
                }
            });
            // 删除
            $('#lr_delete').on('click', function () {
                var keyValue = $('#gridtable').jfGridValue('F_Id');
                if (aycsoft.checkrow(keyValue)) {
                    aycsoft.layerConfirm('是否确认删除该项！', function (res) {
                        if (res) {
                            aycsoft.deleteForm(top.$.rootUrl + '/LR_DisplayBoard/LR_KBKanBanInfo/DeleteForm', { keyValue: keyValue}, function () {
                                refreshGirdData();
                            });
                        }
                    });
                }
            });
        },
        initGird: function () {
            $('#gridtable').lrAuthorizeJfGrid({
                url: top.$.rootUrl + '/LR_DisplayBoard/LR_KBKanBanInfo/GetPageList',
                headData: [
                        { label: '看板名称', name: 'F_KanBanName', width: 200, align: "left" },
                        { label: '看板编号', name: 'F_KanBanCode', width: 130, align: "center" },
                        { label: '刷新时间', name: 'F_RefreshTime', width: 100, align: "center" },
                        {
                            label: '创建日期', name: 'F_CreateDate', width: 100, align: "center",
                            formatter: function (cellvalue) {
                                return aycsoft.formatDate(cellvalue, 'yyyy-MM-dd');
                            }
                        },
                        { label: '创建用户', name: 'F_CreateUserName', width: 100, align: "left" },
                        { label: '看板说明', name: 'F_Description', width: 300, align: "left" }
                ],
                mainId: 'F_Id',
                sidx: 'F_CreateDate desc',
                isPage: true
            });
            page.search();
        },
        search: function (param) {
            param = param || {};
            $('#gridtable').jfGridSet('reload', { queryJson: JSON.stringify(param) });
        }
    };
    refreshGirdData = function () {
        page.search();
    };
    page.init();
}
</script>

