@{
    ViewBag.Title = "图表模块配置";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .info {
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 18px;
    line-height: 34px;
    color: #808080;
    cursor: help;
}

.info-message {
    position: absolute;
    bottom: 202px;
    right: 44px;
    background-color: #333A4C;
    padding: 6px;
    color: #fff;
    display: none;
    z-index: 99;
}

.table-info-message {
    bottom: 290px;
}

.info-message .ok {
    color: #1bb99a;
}

.info-message .error {
    color: #ff3015;
}
.lr-form-item-text {
    position: absolute;
    top: 7px;
    right: 0;
    padding: 4px 8px;
    color: #000;
}
</style>
<div class="widget-body">
    <div id="wizard" class="wizard" data-target="#wizard-steps">
        <ul class="steps">
            <li data-target="#step-1" class="active"><span class="step">1</span>基础信息<span class="chevron"></span></li>
            <li data-target="#step-2"><span class="step">2</span>数据配置<span class="chevron"></span></li>
        </ul>
    </div>
    <div class="step-content" id="wizard-steps">
        <div class="step-pane lr-form-wrap active" id="step-1">
            <div class="col-xs-12 lr-form-item kanbanitem">
                <div class="lr-form-item-title">模块名称<font face="宋体">*</font></div>
                <input id="F_ModeName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </div>
            <div class="col-xs-12 lr-form-item kanbanitem">
                <div class="lr-form-item-title">模块上边距<font face="宋体">*</font></div>
                <input id="F_TopValue" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </div>
            <div class="col-xs-12 lr-form-item kanbanitem">
                <div class="lr-form-item-title">模块左边距<font face="宋体">*</font></div>
                <div id="F_LeftValue" isvalid="yes" checkexpession="NotNull">
                    <ul style="display:none;">
                        <li data-value="0">0</li>
                        <li data-value="1/4">25%</li>
                        <li data-value="1/3">33%</li>
                        <li data-value="1/2">50%</li>
                        <li data-value="2/3">66%</li>
                        <li data-value="3/4">75%</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 lr-form-item kanbanitem">
                <div class="lr-form-item-title">模块宽度<font face="宋体">*</font></div>
                <div id="F_WidthValue" isvalid="yes" checkexpession="NotNull">
                    <ul>
                        <li data-value="1">100%</li>
                        <li data-value="3/4">75%</li>
                        <li data-value="2/3">66%</li>
                        <li data-value="1/2">50%</li>
                        <li data-value="1/3">33%</li>
                        <li data-value="1/4">25%</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 lr-form-item kanbanitem">
                <div class="lr-form-item-title">模块高度<font face="宋体">*</font></div>
                <input id="F_HightValue" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </div>
            <div class="col-xs-12 lr-form-item">
                <div class="lr-form-item-title">刷新时间</div>
                <input id="F_RefreshTime" type="text" class="form-control" />
                <span class="lr-form-item-text">分钟</span>
            </div>
            <div class="col-xs-12 lr-form-item">
                <div class="lr-form-item-title">跳转链接</div>
                <input id="F_LinkInfo" type="text" class="form-control" />
            </div>
        </div>
        <div class="step-pane lr-form-wrap" id="step-2">
            <div class="col-xs-12 lr-form-item">
                <div class="lr-form-item-title">选项</div>
                <div class="radio">
                    <label>
                        <input name="radio" value="sql" type="radio" checked>
                        SQL语句
                    </label>
                    <label>
                        <input name="radio" value="api" type="radio">
                        接口地址
                    </label>
                </div>
            </div>
            <div id="db" class="col-xs-12 lr-form-item">
                <div class="lr-form-item-title">数据库</div>
                <div id="F_DataSourceId"></div>
            </div>
            <div id="sql" class="col-xs-12 lr-form-item">
                <div class="lr-form-item-title">SQL语句</div>
                <textarea id="F_Sql" class="form-control" style="height: 100px;"></textarea>
            </div>
            <div id="api" class="col-xs-12 lr-form-item">
                <div class="lr-form-item-title">接口地址</div>
                <input id="F_Interface" type="text" class="form-control" />
                <div id="lr-info" class="info">
                    <i class="fa fa-info-circle"></i>
                </div>
            </div>
            <div class="col-xs-12 lr-form-item">
                <div class="lr-form-item-title">名称对应字段<font face="宋体">*</font></div>
                <div id="F_FullName" isvalid="yes" checkexpession="NotNull"> </div>
            </div>
            <div class="col-xs-12 lr-form-item">
                <div class="lr-form-item-title">值对应字段<font face="宋体">*</font></div>
                <div id="F_Value" isvalid="yes" checkexpession="NotNull"></div>
            </div>
        </div>
    </div>
    <div class="lr-form-bottom-button" id="wizard-actions">
        <a id="btn_prev" class="btn btn-default btn-prev" disabled>上一步</a>
        <a id="btn_next" class="btn btn-default btn-next">下一步</a>
        <a id="btn_finish" class="btn btn-success" disabled>完成</a>
    </div>
</div>
<div id="lr-message" class="info-message Piechart-info-message">
    <p>请按如下规则填写接口</p>
    <p class="ok">所用接口为GET请求,返回参数如下:</p>
    <p class="ok">{</p>
    <p class="ok">"code":200,</p>
    <p class="ok">"info":"响应成功",</p>
    <p class="ok">"data":[</p>
    <p class="ok">{...},</p>
    <p class="ok">{...},</p>
    <p class="ok">.......</p>
    <p class="ok">]</p>
    <p class="ok">}</p>
</div>

<script>
    var acceptClick;
var type = request('type');

var sqlFieldMap = {};
var urlFieldMap = {};

var bootstrap = function ($, aycsoft) {
    "use strict";
    var selectedModel = top.layer_form.selectedModel;

    var page = {
        init: function () {
            page.bind();
            page.initData();
        },
        bind: function () {
            ///显示比例
            $('#F_WidthValue').lrselect();
            $('#F_LeftValue').lrselect();
            //数据库
            $('#F_DataSourceId').lrselect({
                url: top.$.rootUrl + '/LR_SystemModule/DatabaseLink/GetTreeList',
                type: 'tree',
                placeholder: '请选择数据库',
                allowSearch: true,
                select: function () {
                    var datasourceId = $('#F_DataSourceId').lrselectGet();
                    var sql = $("#F_Sql").val();
                    if (datasourceId && sql) {
                        page.sqldata(datasourceId, sql, function (data) {
                            var _v = $('#F_FullName').lrselectGet();
                            $('#F_FullName').lrselectRefresh({ data: data });
                            $('#F_FullName').lrselectSet(_v);

                            var _v1 = $('#F_Value').lrselectGet();
                            $('#F_Value').lrselectRefresh({ data: data });
                            $('#F_Value').lrselectSet(_v1);
                        });
                    }
                }

            });
            // 接口提示
            $('#lr-info').hover(function () { $('#lr-message').show(); }, function () { $('#lr-message').hide(); });
            //选中的sql或api的操作
            sqlOrAPiIsShow();
            $("input[type = 'radio']").click(function () {
                sqlOrAPiIsShow();
            });
            function sqlOrAPiIsShow() {
                if ($("input[type = 'radio']:checked").val() == "sql") {
                    $("#db").show();
                    $("#sql").show();
                    $("#api").hide();
                }
                else {
                    $("#db").hide();
                    $("#sql").hide();
                    $("#api").show();
                }
            }
            // 加载导向
            $('#wizard').wizard().on('change', function (e, data) {
                var $finish = $("#btn_finish");
                var $next = $("#btn_next");
                if (data.direction == "next") {
                    if (!$('#step-1').lrValidform()) {
                        return false;
                    }
                    $next.attr('disabled', 'disabled');
                    $finish.removeAttr('disabled');
                }
                else if (data.direction == "previous") {
                    $finish.attr('disabled', 'disabled');
                    $next.removeAttr('disabled');
                }
                else {
                    $finish.attr('disabled', 'disabled');
                    $next.removeAttr('disabled');
                }
            });

            // 数据名对应字段
            $('#F_FullName').lrselect({
                value: 'F_FullName',
                text: 'F_FullName',
                title: 'F_FullName',
                allowSearch: true
            });
            // 数据值对应字段
            $('#F_Value').lrselect({
                value: 'F_FullName',
                text: 'F_FullName',
                title: 'F_FullName',
                allowSearch: true
            });

            $("#F_Sql").on('blur', function () {
                var datasourceId = $('#F_DataSourceId').lrselectGet();
                var sql = $("#F_Sql").val();
                if (datasourceId && sql) {
                    page.sqldata(datasourceId, sql, function (data) {
                        var _v = $('#F_FullName').lrselectGet();
                        $('#F_FullName').lrselectRefresh({ data: data });
                        $('#F_FullName').lrselectSet(_v);

                        var _v1 = $('#F_Value').lrselectGet();
                        $('#F_Value').lrselectRefresh({ data: data });
                        $('#F_Value').lrselectSet(_v1);
                    });
                }
                else {
                    aycsoft.alert.warning('请检查数据库或sql语句是否输入');
                }
            });
            $("#F_Interface").on('blur', function () {
                var path = $("#F_Interface").val();
                if (!!path) {
                    page.interfaceData(path, function (data) {
                        var _v = $('#F_FullName').lrselectGet();
                        $('#F_FullName').lrselectRefresh({ data: data });
                        $('#F_FullName').lrselectSet(_v);

                        var _v1 = $('#F_Value').lrselectGet();
                        $('#F_Value').lrselectRefresh({ data: data });
                        $('#F_Value').lrselectSet(_v1);
                    });
                } else {
                    aycsoft.alert.warning('请检查填写接口地址');
                }
            });

            $("#btn_finish").on('click', function () {
                acceptClick();
            })
        },
        initData: function () {
            if (selectedModel) {
                $('#step-1').lrSetFormData(selectedModel);
                if (selectedModel._configuration) {
                    $("#step-2").lrSetFormData(selectedModel._configuration);
                    if (selectedModel._configuration.F_DataSourceId && selectedModel._configuration.F_Sql) {
                        page.sqldata(selectedModel._configuration.F_DataSourceId, selectedModel._configuration.F_Sql, function (data) {
                            $('#F_FullName').lrselectRefresh({ data: data });
                            $('#F_Value').lrselectRefresh({ data: data });
                            $('#F_FullName').lrselectSet(selectedModel._configuration.F_FullName);
                            $('#F_Value').lrselectSet(selectedModel._configuration.F_Value);
                        });
                    }
                    else if (selectedModel._configuration.F_Interface) {
                        $("input[name=radio][value=api]").trigger('click');
                        page.interfaceData(selectedModel._configuration.F_Interface, function (data) {
                            $('#F_FullName').lrselectRefresh({ data: data });
                            $('#F_Value').lrselectRefresh({ data: data });
                            $('#F_FullName').lrselectSet(selectedModel._configuration.F_FullName);
                            $('#F_Value').lrselectSet(selectedModel._configuration.F_Value);
                        });
                    }
                    $('#F_LinkInfo').val(selectedModel._configuration.F_LinkInfo);
                }      
            }
        },

        sqldata: function (databaseLinkId, strSql, callback) {// 根据sql语句获取字段列表
            if (sqlFieldMap[strSql]) {
                callback(sqlFieldMap[strSql]);
            } else {
                aycsoft.httpAsync('GET', top.$.rootUrl + '/LR_SystemModule/DatabaseTable/GetSqlColName', { dbCode: databaseLinkId, strSql: strSql }, function (data) {
                    if (data) {
                        sqlFieldMap[strSql] = [];
                        $.each(data, function (_index, _item) {
                            sqlFieldMap[strSql].push({ F_FullName: _item });
                        });
                    }
                    callback(sqlFieldMap[strSql] || []);
                });
            }
        },
        interfaceData: function (path, callback) {
            if (urlFieldMap[path]) {
                callback(urlFieldMap[path]);
            } else {
                aycsoft.httpAsync('GET', top.$.rootUrl + '/LR_DisplayBoard/LR_KBConfigInfo/GetApiData', { path: path }, function (data) {
                    if (data) {
                        urlFieldMap[path] = [];
                        $.each(data[0] || [], function (_index, _item) {
                            urlFieldMap[path].push({ F_FullName: _index });
                        });
                    }
                    callback(urlFieldMap[path] || []);
                });
            }
        }
    };
    // 保存数据
    acceptClick = function (callBack) {
        if (!$('#step-1').lrValidform()) {
            return false;
        }
        var baseInfo = $('#step-1').lrGetFormData();
        var configratoin = $('#step-2').lrGetFormData();

        if ($("input[type = 'radio']:checked").val() == "sql") {
            if (configratoin.F_DataSourceId == "" || configratoin.F_Sql == "") {
                aycsoft.alert.error('请检查数据库或sql语句是否输入');
                return false;
            }
            configratoin.F_Interface = '';
        } else {
            if (configratoin.F_Interface == "") {
                aycsoft.alert.error('请检查填写接口地址');
                return false;
            }
            configratoin.F_DataSourceId = '';
            configratoin.F_Sql = '';
        }
       
        var data = {
            F_ModeName: baseInfo.F_ModeName,
            F_TopValue: baseInfo.F_TopValue,
            F_LeftValue: baseInfo.F_LeftValue,
            F_WidthValue: baseInfo.F_WidthValue,
            F_HightValue: baseInfo.F_HightValue,
            F_RefreshTime: baseInfo.F_RefreshTime,
            F_Type: type,
            _configuration: {
                F_LinkInfo: baseInfo.F_LinkInfo,
                F_DataSourceId: configratoin.F_DataSourceId,
                F_Sql: configratoin.F_Sql,
                F_Interface: configratoin.F_Interface,
                F_FullName: configratoin.F_FullName,
                F_Value: configratoin.F_Value
            }
        };

        if (selectedModel) {
            selectedModel.F_ModeName = data.F_ModeName;
            selectedModel.F_TopValue = data.F_TopValue;
            selectedModel.F_LeftValue = data.F_LeftValue;
            selectedModel.F_WidthValue = data.F_WidthValue;
            selectedModel.F_HightValue = data.F_HightValue;
            selectedModel.F_RefreshTime = data.F_RefreshTime;
            selectedModel._configuration = data._configuration;

            top.layer_form.displayBoard.updateModel(selectedModel);
        }
        else {
            top.layer_form.displayBoard.addModel(data);
        }
        aycsoft.layerClose(window.name);
        return true;
    };
    page.init();
}
</script>

