
@{
    ViewData["Title"] = "MonitorIndex";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="lr_layout" class="lr-layout lr-layout-left-center">
    <div class="lr-layout-left">
        <div class="lr-layout-wrap lr-layout-wrap-notitle" style="padding-top:10px;">
            <div class="lr-layout-body">
                <ul class="lr-left-list" id="lr_left_list">
                    <li class="active lrlg" data-value="1">未完成</li>
                    <li data-value="2" class="lrlg">已完成</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <div id="datesearch"></div>
                    </div>
                    <div class="lr-layout-tool-item">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="lr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;<span class="lrlg">查询</span></a>
                    </div>
                </div>
                <div class="lr-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" aycsoft-authorize="yes">
                        <a id="lr_eye" class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;<span class="lrlg">查看</span></a>
                        <a id="lr_appoint" class="btn btn-default"><i class="fa fa-magic"></i>&nbsp;<span class="lrlg">指派审核人</span></a>
                        <a id="lr_add" class="btn btn-default"><i class="fa fa-magic"></i>&nbsp;<span class="lrlg">添加审核节点</span></a>
                        <a id="lr_cancel" class="btn btn-default"><i class="fa fa-trash-o"></i>&nbsp;<span class="lrlg">作废</span></a>
                    </div>
                </div>
            </div>

            <div class="lr-layout-body" id="gridtable">
            </div>
        </div>
    </div>
</div>
<script>
var bootstrap = function ($, aycsoft) {
    "use strict";
    var categoryId = '1';
    var logbegin = '';
    var logend = '';

    var page = {
        init: function () {
            $('#lr_verify').hide();
            page.initleft();
            page.initGrid();
            page.bind();
        },
        bind: function () {
            $('#datesearch').lrdate({
                dfdata: [
                    { name: '今天', begin: function () { return aycsoft.getDate('yyyy-MM-dd 00:00:00') }, end: function () { return aycsoft.getDate('yyyy-MM-dd 23:59:59') } },
                    { name: '近7天', begin: function () { return aycsoft.getDate('yyyy-MM-dd 00:00:00', 'd', -6) }, end: function () { return aycsoft.getDate('yyyy-MM-dd 23:59:59') } },
                    { name: '近1个月', begin: function () { return aycsoft.getDate('yyyy-MM-dd 00:00:00', 'm', -1) }, end: function () { return aycsoft.getDate('yyyy-MM-dd 23:59:59') } },
                    { name: '近3个月', begin: function () { return aycsoft.getDate('yyyy-MM-dd 00:00:00', 'm', -3) }, end: function () { return aycsoft.getDate('yyyy-MM-dd 23:59:59') } },
                ],
                // 月
                mShow: false,
                premShow: false,
                // 季度
                jShow: false,
                prejShow: false,
                // 年
                ysShow: false,
                yxShow: false,
                preyShow: false,
                yShow: false,
                selectfn: function (begin, end) {
                    logbegin = begin;
                    logend = end;
                    page.search();
                }
            });
            // 查询
            $('#btn_Search').on('click', function () {
                var keyword = $('#txt_Keyword').val();
                page.search({ keyword: keyword });
            });
            // 刷新
            $('#lr_refresh').on('click', function () {
                location.reload();
            });
            // 查看
            $('#lr_eye').on('click', function () {
                page.eye();
            });
            // 指定审核人
            $('#lr_appoint').on('click', function () {
                var processId = $('#gridtable').jfGridValue('F_Id');

                var enabledMark = $('#gridtable').jfGridValue('F_EnabledMark');
                if (aycsoft.checkrow(processId)) {

                    if (enabledMark == '1') {
                        aycsoft.layerForm({
                            id: 'AppointForm',
                            title: '指派审核人',
                            url: top.$.rootUrl + '/LR_NewWorkFlow/NWFProcess/AppointForm?processId=' + processId,
                            height: 300,
                            width: 500,
                            callBack: function (id) {
                                return top[id].acceptClick();
                            }
                        });
                    }
                    else {
                        aycsoft.alert.warning('当前流程无法指定审核人员！');
                    }
                   
                }
            });
            // 作废
            $('#lr_cancel').on('click', function () {
                var processId = $('#gridtable').jfGridValue('F_Id') || '';
                if (aycsoft.checkrow(processId)) {
                    aycsoft.layerConfirm('是否确认作废此流程进程？', function (res, _index) {
                        if (res) {
                            aycsoft.loading(true, '作废流程中...');
                            var postData = {
                                processId: processId,
                            };
                            aycsoft.httpAsync('Post', top.$.rootUrl + '/LR_NewWorkFlow/NWFProcess/DeleteFlow', postData, function (data) {
                                aycsoft.loading(false);
                                page.search();
                            });
                            top.layer.close(_index);
                        }
                    });
                }
            });
            // 添加审核节点
            $('#lr_add').on('click', function () {
                var processId = $('#gridtable').jfGridValue('F_Id') || '';
                if (aycsoft.checkrow(processId)) {
                    aycsoft.layerForm({
                        id: 'AppointForm',
                        title: '添加审核节点',
                        url: top.$.rootUrl + '/LR_NewWorkFlow/NWFProcess/AddTaskForm?processId=' + processId,
                        height: 500,
                        width: 800,
                        callBack: function (id) {
                            return top[id].acceptClick(function () {
                                $('#gridtable').jfGridSet('reload');
                            });
                        }
                    }); 
                }
            });
        },
        initleft: function () {
            $('#lr_left_list li').on('click', function () {
                var $this = $(this);
                var $parent = $this.parent();
                $parent.find('.active').removeClass('active');
                $this.addClass('active');
                categoryId = $this.attr('data-value');
                page.search();
            });
        },
        initGrid: function () {
            $('#gridtable').lrAuthorizeJfGrid({
                url: top.$.rootUrl + '/LR_NewWorkFlow/NWFProcess/GetPorcessList',
                headData: [
                    {
                        label: "标题", name: "F_Title", width: 300, align: "left", formatter: function (cellvalue, row) {
                            if (row.F_SchemeName != row.F_Title && row.F_Title) {
                                return row.F_SchemeName + "(" + row.F_Title + ")";
                            }
                            else {
                                return row.F_SchemeName;
                            }
                        }
                    },
                    {
                        label: "等级", name: "F_Level", width: 60, align: "center",
                        formatter: function (cellvalue) {
                            switch (cellvalue) {
                                case 0:
                                    return '普通';
                                    break;
                                case 1:
                                    return '重要';
                                    break;
                                case 2:
                                    return '紧急';
                                    break;
                                default:
                                    return '普通';
                                    break;
                            }
                        }
                    },
                    {
                        label: "状态", name: "F_EnabledMark", width: 80, align: "center",
                        formatter: function (cellvalue, row) {
                            if (row.F_IsFinished == 0) {
                                if (cellvalue == 1) {
                                    if (row.F_IsUrge == "1" && categoryId == '2') {
                                        return "<span class=\"label label-danger\">催办加急</span>";
                                    }
                                    return "<span class=\"label label-success\">运行中</span>";
                                } else if (cellvalue == 2) {
                                    return "<span class=\"label label-primary\">草稿</span>";
                                } else if (cellvalue == 500) {
                                    return "<span class=\"label label-danger\">审核中断</span>";
                                }else {
                                    return "<span class=\"label label-danger\">作废</span>";
                                }
                            }
                            else {
                                return "<span class=\"label label-warning\">结束</span>";
                            }

                        }
                    },
                    { label: "发起者", name: "F_CreateUserName", width: 80, align: "center" },
                    {
                        label: "时间", name: "F_CreateDate", width: 150, align: "left",
                        formatter: function (cellvalue) {
                            return aycsoft.formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                        }
                    }
                ],
                mainId: 'F_Id',
                isPage: true,
                sidx: 'F_CreateDate DESC',
                dblclick: function () {
                    page.eye();
                }
            });
            page.search();
        },
        search: function (param) {
            param = param || {};
            param.StartTime = logbegin;
            param.EndTime = logend;
            param.categoryId = categoryId;
            $('#gridtable').jfGridSet('reload', { queryJson: JSON.stringify(param) });
        },
        eye: function () {
            var processId = $('#gridtable').jfGridValue('F_Id') || '';
            var title = $('#gridtable').jfGridValue('F_Title');
            var schemeName = $('#gridtable').jfGridValue('F_SchemeName');

            if (schemeName != title && title) {
                title = schemeName + "(" + title + ")";
            }
            else {
                title = schemeName;
            }

            if (aycsoft.checkrow(processId)) {
                aycsoft.frameTab.open({ F_ModuleId: 'monitor' + processId, F_FullName: '查看-' + title, F_UrlAddress: '/LR_NewWorkFlow/NWFProcess/MonitorDetailsIndex?processId=' + processId });
            }
        }
    };

    page.init();
}
</script>

