@{
    ViewData["Title"] = "查看流程信息";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@Html.AppendCssFile("/lib/aycsoft/plugin/workflownew/lr-workflow-ui.css")
@Html.AppendJsFile("/lib/aycsoft/plugin/workflownew/lr-workflow-ui.js")
<style>

    .lr-timeline {
        padding: 0;
    }
    .lr-workflow-work .lr-workflow-workinner {
        background-image: none;
    }
    body {
        background-color: rgba(0,0,0,.0001);
    }
</style>

<div style="position:relative;width:100%;height:100%;">
    <div class="lr-form-tabs" id="lr_form_tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a data-value="auditinfo">流转记录</a></li>
            <li><a data-value="workflowshcemeinfo">流程信息</a></li>
        </ul>
    </div>
    <div class="tab-content" id="tab_content" style="position:relative;width:100%;height:100%;">
        <div id="auditinfo" class="tab-pane active" style="position:relative;padding:5px;width:100%;height:100%;">
            <div style="position:relative;width:100%;height:100%;border:1px solid #ccc;" id="wf_timeline">

            </div>
        </div>
        <div id="workflowshcemeinfo" class="tab-pane" style="position:relative;padding:5px;width:100%;height:100%;">
            <div style="position:relative;width:100%;height:100%;border:1px solid #ccc;padding-bottom:40px;">
                <div id="wf_shcemeinfo"></div>
                <div style="position:absolute;left:0px;bottom:0;width:100%;height:40px;border-top:1px solid #ddd;line-height:39px;text-align:right;padding-right:10px;font-size:16px;">
                    <div style="display: inline-block;margin-left: 10px;"><i style="padding-right:5px;color:#5bc0de;" class="fa fa-square"></i><span>正在处理</span></div>
                    <div style="display: inline-block;margin-left: 10px;"><i style="padding-right:5px;color:#5cb85c;" class="fa fa-square"></i><span>已处理</span></div>
                    <div style="display: inline-block;margin-left: 10px;"><i style="padding-right:5px;color:#999;" class="fa fa-square"></i><span>未处理</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var processId = request('processId');      // 流程实例主键
var nodeId = request('nodeId');         // 发起子流程的节点Id
var schemeObj;

var bootstrap = function ($, aycsoft) {
    "use strict";

    var history;
    var currentIds;
    var isFinished;
    var page = {
        nodeMap: {},
        init: function () {
            page.bind();
            page.initData();
        },
        bind: function () {
            $('#lr_form_tabs').lrFormTab();
            $('#wf_shcemeinfo').lrworkflow({
                isPreview: true,
                openNode: function (node) {
                    top.wflookNode = node;
                    if (node.history) {
                        aycsoft.layerForm({
                            id: 'LookNodeForm',
                            title: '审批记录查看【' + node.name + '】',
                            url: top.$.rootUrl + '/LR_NewWorkFlow/NWFProcess/LookNodeForm',
                            width: 600,
                            height: 400,
                            btn: null
                        });
                    }
                }
            });
        },
        initData: function () {
            if (processId && nodeId) {
                aycsoft.httpAsync('GET', top.$.rootUrl + '/LR_NewWorkFlow/NWFProcess/GetChildProcessDetails', { processId: processId, nodeId: nodeId }, function (data) {
                    if (data) {
                        var info = data.info;
                        page.taskInfo = data.task;

                        schemeObj = JSON.parse(info.Scheme);
                        history = info.TaskLogList;
                        currentIds = info.CurrentNodeIds;

                        page.loadFlowInfo(schemeObj, page.taskInfo || [], info || {});
                        page.loadTimeLine(page.taskInfo || [], info || {});

                    }
                });
            }
            else {
                aycsoft.httpAsync('GET', top.$.rootUrl + '/LR_NewWorkFlow/NWFProcess/GetProcessDetails', { processId: processId }, function (data) {
                    if (data) {
                        var info = data.info;
                        page.taskInfo = data.task;

                        schemeObj = JSON.parse(info.Scheme);

                        history = info.TaskLogList;
                        currentIds = info.CurrentNodeIds;

                        page.loadFlowInfo(schemeObj, page.taskInfo || [], info || {});
                        page.loadTimeLine(page.taskInfo || [], info || {});

                    }
                });
            }
        },

        loadFlowInfo: function (scheme, taskInfo, info) {
            var nodeInfoes = {};
            var strcurrentIds = String(currentIds || []);
            var history = info.TaskLogList || [];
            page.nodeMap = {};
            // 当前节点处理人信息
            $.each(taskInfo, function (_index, _item) {
                var nameList = [];
                $.each(_item.nWFUserInfoList, function (_jindex, _jitem) {
                    if (_jitem.Mark == 0) {
                        nameList.push(_jitem.Id);
                    }
                });
                var point = {
                    namelist: nameList
                }
                nodeInfoes[_item.F_NodeId] = nodeInfoes[_item.F_NodeId] || [];
                nodeInfoes[_item.F_NodeId].push(point);
            });
            // 初始化工作流节点历史处理信息
            $.each(history, function (id, item) {
                nodeInfoes[item.F_NodeId] = nodeInfoes[item.F_NodeId] || [];
                nodeInfoes[item.F_NodeId].push(item);
            });
            $.each(scheme.nodes, function (_index, _item) {//0正在处理 1 已处理同意 2 已处理不同意 3 未处理 
                _item.state = '3';
                if (nodeInfoes[_item.id]) {
                    _item.history = nodeInfoes[_item.id];
                    _item.state = '1';
                }
                if (strcurrentIds.indexOf(_item.id) > -1) {
                    _item.state = '0';
                }
                if (_item.isAllAuditor == "2") {
                    _item.name += '<br/>【多人审核:';

                    if (_item.auditorType == "1") {
                        _item.name += '并行】';
                    }
                    else {
                        _item.name += '串行】';
                    }
                }
                page.nodeMap[_item.id] = _item;
            });
            $('#wf_shcemeinfo').lrworkflowSet('set', { data: scheme });
        },
        loadTimeLine: function (taskInfo,info) {
            var nodelist = [];
            var history = info.TaskLogList || [];
            // 当前节点处理人信息
            $.each(taskInfo, function (_index, _item) {
                var nameList = [];
                $.each(_item.nWFUserInfoList, function (_jindex, _jitem) {
                    if (_jitem.Mark == 0) {
                        nameList.push(_jitem.Id);
                    }
                });

                var point = {
                    title: _item.F_NodeName + "【正在处理节点】",
                    people: String(nameList),
                    content: '需要其审核',
                    time: "当前"
                };
                nodelist.push(point);

            });

            // 历史审核记录
            var anodeinfo = {};
            var $anodeinfo = $('.tab-flow-audit');
            for (var i = 0, l = history.length; i < l; i++) {
                var item = history[i];

                var content = item.F_OperationName;
                if (item.F_Des) {
                    content += '<br/>【审批意见】：' + item.F_Des;
                }

                var nodeName = '';
                if (item.F_NodeId && page.nodeMap[item.F_NodeId]) {
                    nodeName = page.nodeMap[item.F_NodeId].name;
                }

                var point = {
                    title: item.F_NodeName || nodeName,
                    people: item.F_CreateUserId,
                    peopleName: item.F_CreateUserName,
                    content: content,
                    time: item.F_CreateDate
                };

                nodelist.push(point);
            }
            $('#wf_timeline').lrtimeline(nodelist, isFinished);
        }
    };
    page.init();
}
</script>
