@{
    ViewBag.Title = "设置内容";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .body {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.bodycontent {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    padding-left: 200px;
}
.left {
    position: absolute;
    top: 0;
    left: 0;
    width:200px;
    height:100%;
    border-right:1px solid #ccc;
    overflow-y:auto;
}
.left-list {
    position:relative;
    width:100%;
    padding:10px 10px 0 10px;
}
.left-list-item {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    line-height: 38px;
    border: 1px solid #E5E5E5;
    padding-left: 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
    .left-list-item.active {
        background: #D6E7FB;
        border: 1px solid #2E81EA;
        color: #2E81EA;
    }

.right {
    position: relative;
    height: 100%;
    width: 100%;
}
.top, .bottom {
    position: relative;
    height: 40%;
    width: 100%;
    padding-top: 30px;
}
.top {
    height: 60%;
    padding-top: 70px;
    border-bottom: 1px solid #ccc;
}
.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 29px;
    background-color: #F5F5F5;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
    color: #676a6c;
    border-bottom: 1px solid #ccc;
}
.content {
    position: relative;
    height: 100%;
    width: 100%;
}

.search-bar {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ddd;
}
.lr-layout-tool-item {
    position: relative;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}
.search-bar .btn {
    position: relative;
    display: inline-block;
    height: 28px;
    margin-bottom: 1px;
    line-height: 14px;
}

</style>
<div class="body">
    <div class="bodycontent">
        <div class="left">
            <div class="left-list" id="left_list">
            </div>
        </div>
        <div class="right">
            <div class="top">
                <div class="title">
                    选择文章
                </div>
                <div class="search-bar">
                    <div class="lr-layout-tool-item" style="width: 200px;">
                        <div id="F_Category" style="border-radius: 4px;"></div>
                    </div>
                    <div class="lr-layout-tool-item" style="width: 200px;">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="lr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;<span class="lrlg">查询</span></a>
                    </div>
                </div>
                <div class="content" id="select_grid">
                </div>
            </div>
            <div class="bottom">
                <div class="title">
                    已选择文章
                </div>
                <div class="content" id="selected_grid">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var type = request('type');
var bootstrap = function ($, aycsoft) {
    "use strict";
    var categoryId = '';
    var currentList = [];
    var currentMap = {};
    var allList = aycsoft.frameTab.currentIframe().allList;

    var page = {
        init: function () {
            page.bind();
        },
        bind: function () {
            $('#F_Category').lrDataItemSelect({ code: 'PortalSiteType' });
            $('#F_Category').on('change', function () {
                var v = $(this).lrselectGet();
                categoryId = v;
                page.search();
            });
            $('#select_grid').jfGrid({
                url: top.$.rootUrl + '/LR_PortalSite/Article/GetPageList',
                headData: [
                    { label: '标题', name: 'F_Title', width: 330, align: "left" },
                    {
                        label: "分类", name: "F_Category", width: 150, align: "center",
                        formatterAsync: function (callback, value, row) {
                            aycsoft.clientdata.getAsync('dataItem', {
                                key: value,
                                code: 'PortalSiteType',
                                callback: function (_data) {
                                    callback(_data.text);
                                }
                            });
                        }
                    },
                    {
                        label: '发布时间', name: 'F_PushDate', width: 100, align: "center",
                        formatter: function (cellvalue) {
                            return aycsoft.formatDate(cellvalue, 'yyyy-MM-dd');
                        }
                    }
                ],
                mainId: 'F_Id',
                isPage: true,
                isMultiselect: true,
                multiselectfield:'isCheck',
                sidx: 'F_PushDate desc',
                onRenderBefore: function (datas) {
                    $.each(datas, function (_index, _item) {
                        if (currentMap[_item.F_Id]) {
                            _item.isCheck = 1;
                        }
                    });
                },
                onSelectRow: function (row, isCheck) {
                    if (isCheck) {
                        var _row = { F_Id: row.F_Id, F_Title: row.F_Title, F_Category: row.F_Category, F_PushDate: row.F_PushDate };
                        $('#selected_grid').jfGridSet('addRow', _row);
                        currentMap[row.F_Id] = true;

                    } else {
                        $('#selected_grid').jfGridSet('removeRow', row.F_Id);
                        currentMap[row.F_Id] = false;
                    }
                }
            });

            $('#selected_grid').jfGrid({
                headData: [
                    {
                        label: "", name: "btn", width: 60, align: "center",
                        formatter: function (value, row, op, $cell) {
                            $cell.on('click', function () {
                                $('#selected_grid').jfGridSet('removeRow', row.F_Id);
                                $('#select_grid').jfGridSet('nocheck', row.F_Id);
                                currentMap[row.F_Id] = false;
                                return false;
                            });
                            return '<span class=\"label label-danger \" style=\"cursor: pointer;\">移除</span>';
                        }
                    },
                    { label: '标题', name: 'F_Title', width: 300, align: "left" },
                    {
                        label: "分类", name: "F_Category", width: 150, align: "center",
                        formatterAsync: function (callback, value, row) {
                            aycsoft.clientdata.getAsync('dataItem', {
                                key: value,
                                code: 'PortalSiteType',
                                callback: function (_data) {
                                    callback(_data.text);
                                }
                            });
                        }
                    },
                    {
                        label: '发布时间', name: 'F_PushDate', width: 100, align: "center",
                        formatter: function (cellvalue) {
                            return aycsoft.formatDate(cellvalue, 'yyyy-MM-dd');
                        }
                    }
                ],
                mainId: 'F_Id'
            });

            var $list = $('#left_list');
            $list.on('click', '.left-list-item', function () {
                var $this = $(this);
                if (!$this.hasClass('active')) {
                    $this.parent().find('.active').removeClass('active');
                    $this.addClass('active');

                    $('#txt_Keyword').val('');

                    var _data = $this[0].data;
                    currentList = _data.list;
                    currentMap = {};
                    $.each(currentList, function (_index, _item) {
                        currentMap[_item.F_Id] = true;
                    });

                    // 加载已经选择文章数据
                    $('#selected_grid').jfGridSet('refreshdata', currentList);

                    page.search();
                   
                }
            });
            $.each(allList, function (_index, _item) {
                var $item = $('<div class="left-list-item" >' + _item.name + '</div>');
                $item[0].data = _item;
                $list.append($item);

                if (_index == 0) {
                    $item.trigger('click');
                }
            });

            // 查询
            $('#btn_Search').on('click', function () {
                var queryJson = {};
                var keyword = $('#txt_Keyword').val();
                queryJson.F_Category = categoryId;
                queryJson.F_Title = keyword;
                $('#select_grid').jfGridSet('reload', { queryJson: JSON.stringify(queryJson) });
            });
        },
        search: function (param) {
            param = param || {};
            param.F_Category = categoryId;
            $('#select_grid').jfGridSet('reload', { queryJson: JSON.stringify(param) });
        }
    };
    page.init();
}
</script>

