@{
    ViewBag.Title = "个人中心-修改密码";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
.lr-form-wrap {
    padding: 0;
}
.lr-form-item {
    width:600px;
    padding: 5px 200px 5px 80px;
    float:initial;
}
.tip {
    position:absolute;
    right:0;
    top:0;
    width:200px;
    height:100%;
    line-height:38px;
    padding-left:10px;
    font-size:16px;

}
.tip .fa {
    margin-right:5px;
}
.tip-success {
    color:#1bb99a;
}
.tip-error {
    color:#ff5d48;
}
.lr-form-item-title {
    width: 80px;
    text-align: left;
    padding-right: 10px;
}
.form-control {
    border-radius:4px;
}
.lr-form-item-text {
    color:#959393;
    padding-left:80px;
}
#Verifycode_img {
    cursor:pointer;
}
.lr-field-error-info {
    right:203px;
}
</style>
<div class="lr-form-wrap" id="form">
    <div class="lr-form-item-text">
        为了保护您的帐号安全，操作前请您进行安全验证
    </div>
    <div class="lr-form-item">
        <div class="lr-form-item-title">旧密码<font face="宋体">*</font></div>
        <input id="OldPassword" type="password" class="form-control" isvalid="yes" checkexpession="NotNull" />
        <div class="tip"></div>
    </div>
    <div class="lr-form-item">
        <div class="lr-form-item-title">新密码<font face="宋体">*</font></div>
        <input id="NewPassword" type="password" class="form-control" isvalid="yes" checkexpession="NotNull" />
        <div class="tip"></div>
    </div>
    <div class=" lr-form-item">
        <div class="lr-form-item-title">重复新密码<font face="宋体">*</font></div>
        <input id="RedoNewPassword" type="password" class="form-control" isvalid="yes" checkexpession="NotNull" />
        <div class="tip"></div>
    </div>
    <div class="lr-form-item"><a class="btn btn-primary" id="lr_save_btn"><i class="fa fa-save"></i>&nbsp;提&nbsp;交</a></div>
</div>
<script>
    var bootstrap = function ($, aycsoft) {
        "use strict";

        var page = {
            init: function () {
                page.bind();
            },
            bind: function () {
                // 旧密码验证
                $("#OldPassword").blur(function () {
                    var $this = $(this);
                    $this.parent().find('.tip').html('');
                    if ($this.val() == "") {

                        return false;
                    }
                    var password = $.md5($this.val());
                    aycsoft.httpAsyncPost(top.$.rootUrl + "/UserCenter/ValidationOldPassword", { OldPassword: password }, function (res) {
                        if (res.code != 200) {
                            $this.parent().find('.tip').html('<div class="tip-error"><i class="fa  fa-exclamation-circle"></i>密码错误!</div>');
                        }
                        else {
                            $this.parent().find('.tip').html('<div class="tip-success"><i class="fa fa-check-circle"></i></div>');
                        }
                    });
                });
                // 新密码
                $("#NewPassword").blur(function () {
                    var $this = $(this);
                    $this.parent().find('.tip').html('');
                    if ($this.val() == "") {
                        return false;
                    }
                    $this.parent().find('.tip').html('<div class="tip-success"><i class="fa fa-check-circle"></i></div>');
                });
                $("#RedoNewPassword").blur(function () {
                    var $this = $(this);
                    $this.parent().find('.tip').html('');
                    if ($this.val() == "") {
                        return false;
                    }
                    if ($this.val() == $('#NewPassword').val()) {

                        $this.parent().find('.tip').html('<div class="tip-success"><i class="fa fa-check-circle"></i></div>');
                    }
                    else {
                        $this.parent().find('.tip').html('<div class="tip-error"><i class="fa  fa-exclamation-circle"></i>两次密码输入不一样!</div>');
                    }

                });

                $('#lr_save_btn').on('click', function () {
                    if (!$('#form').lrValidform()) {
                        return false;
                    }
                    if ($('#OldPassword').parent().find('.tip-success').length > 0 && $('#NewPassword').parent().find('.tip-success').length > 0 && $('#RedoNewPassword').parent().find('.tip-success').length > 0) {
                        var formData = $('#form').lrGetFormData();
                        var postData = {
                            password: $.md5(formData.NewPassword),
                            oldPassword: $.md5(formData.OldPassword)
                        };

                        aycsoft.layerConfirm('注：请牢记当前设置密码，您确认要修改密码？', function (res, index) {
                            if (res) {
                                $.lrSaveForm(top.$.rootUrl + '/UserCenter/SubmitResetPassword', postData, function (res) {
                                    if (res.code == 200) {
                                        top.location.href = top.$.rootUrl + "/Login/Index";
                                    }
                                });
                                top.layer.close(index); //再执行关闭  
                            }
                        });


                    }
                    return false;
                });
            }
        };
        page.init();
    }
</script>
