
@{
    ViewData["Title"] = "ListContentIndex";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    body {
        overflow-y: auto;
    }
</style>
<div style="margin:auto;padding:50px;width:1030px;">
    <div style="background-color:#fff;border-radius:6px;padding:65px;">
        <div class="title" style="padding:20px 0 0 30px;">
            <div style="border-bottom: 1px solid #f1f1f1;margin-bottom: 10px;"></div>
            <p style="font-size: 24px;color: #333;"></p>
        </div>
        <div class="con" style="padding-top:30px;width:800px;padding-left: 30px;color: #666;">
        </div>
    </div>
</div>
<script>
var id = request('id');
var bootstrap = function ($, aycsoft) {
    "use strict";
    var page = {
        init: function () {
            var item = top['dtlist' + id];
            $('.title p').text(item.f_title);
            $('.con').showEditer(item.f_content);
        }
    };
    page.init();
}
</script>

