@{
    ViewBag.Title = "数据源数据查询";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>

    .btn-tool-bar {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 5px;
        border-bottom: 1px solid #ddd;
        z-index: 2;
    }

    .tool-bar-item {
        width: 150px;
        position: relative;
        float: left;
        line-height: 26px;
        height: 28px;
        margin-right: 5px;
    }

        .tool-bar-item .btn {
            height: 28px;
            margin-bottom: 1px;
            line-height: 14px;
        }

    body {
        position: relative;
        padding-top: 39px;
    }
</style>
<div class="btn-tool-bar">
    <div class="tool-bar-item" style="        width: 60px;
        margin-left: 5px;"><a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;<span class="lrlg">查询</span></a></div>
</div>
<div id="gridtable"></div>
<script>
    var code = request('code');
    var bootstrap = function ($, aycsoft) {
        "use strict";
        var page = {
            init: function () {
                page.bind();
            },
            bind: function () {
                //获取字段数据
                aycsoft.httpAsync('GET', top.$.rootUrl + '/LR_SystemModule/DataSource/GetDataColName', { code: code }, function (data) {
                    if (data) {
                        var headData = [];
                        for (var i = 0, l = data.length; i < l; i++) {
                            var item = data[i];
                            if (item != 'rownum') {
                                var point2 = { label: item, name: item, width: 150, align: "left" };
                                headData.push(point2);
                            }
                        }
                        $('#gridtable').jfGrid({
                            url: top.$.rootUrl + '/LR_SystemModule/DataSource/GetDataTablePage',
                            headData: headData,
                            isPage: true
                        });
                        page.search();
                    }
                });

                // 查询
                $('#btn_Search').on('click', function () {
                    page.search();
                });
            },
            search: function () {
                var param = {};
                param.code = code;

                $('#gridtable').jfGridSet('reload', param);
            }
        };

        page.init();
    }

</script>