
@{
    ViewData["Title"] = "选择印章";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .lr-form-layout {
        padding: 44px 0 0 0;
    }
    .lr-form-layout-top {
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 1px solid #ddd;
        height: 44px;
        width: 100%;
        padding-left: 3px;
        z-index: 4;
    }
    .lr-item {
        position: relative;
        float: left;
        padding-top: 8px;
        padding-left: 5px;
        line-height: 28px;
    }
        .lr-item .btn {
            position: relative;
            display: inline-block;
            height: 28px;
            margin-bottom: 1px;
            line-height: 14px;
        }
        .lr-item .lr-select {
            width: 170px;
        }
        .lr-item .lr-field-error-info {
            top: 9px;
            height: 26px;
        }
</style>
<div class="lr-form-layout">
    <div class="lr-form-layout-top">
        <div class="lr-item">
            <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width:240px;" />
        </div>
        <div class="lr-item">
            <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;查询</a>
        </div>
        <div class="lr-item" style="float:right;width:200px;margin-right:10px;">
            <input id="F_Password" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" placeholder="请输入密码" />
        </div>
    </div>
    <div id="gridtable"></div>
</div>
<script>
var acceptClick;
var bootstrap = function ($, aycsoft) {
    "use strict";
    // 保存数据
    var page = {
        init: function () {
            page.bind();
        },
        bind: function () {
            // 订单产品信息
            $('#gridtable').jfGrid({
                url:top.$.rootUrl + '/LR_NewWorkFlow/StampInfo/GetList',
                headData: [
                    { label: '名称', name: 'F_StampName', width: 150, align: "center" },
                    {
                        label: '印章', name: 'F_ImgFile', width: 110, align: "left",
                        formatter: function (value, row) {
                            return '<img src="' + top.$.rootUrl + '/LR_NewWorkFlow/StampInfo/GetImg?keyValue=' + row.F_StampId + '"  style="position: absolute;height:100px;width:100px;top:5px;left:5px;" >';
                        }
                    }
                ],
                mainId: 'F_StampId',
                rowHeight: 110,
            });
            page.search();
            //查询
            $('#btn_Search').on('click', function () {
                var keyword = $('#txt_Keyword').val();
                page.search({ keyword: keyword });
            });
        },
        search: function (param) {
            param = param || {};
             $('#gridtable').jfGridSet('reload', param);
        }
    };
    acceptClick = function (callBack) {
        var keyValue = $("#gridtable").jfGridValue("F_StampId");
        if (!$('.lr-item').lrValidform()) {
            return false;
        }
        var password =  $.md5($('#F_Password').val());
        aycsoft.postForm(top.$.rootUrl + '/LR_NewWorkFlow/StampInfo/EqualPW', { keyValue: keyValue, password: password }, function (res) {
            callBack(keyValue);
        });
    };
    page.init();
}
</script>
